
TASK4/TASK4.pro

TASK4/TASK4.pro.user

build-TASK4-Desktop-Debug/TASK4

build-TASK4-Desktop-Debug/Solve.o

build-TASK4-Desktop-Debug/Makefile

build-TASK4-Desktop-Debug/main.o

build-TASK4-Desktop-Debug/.qmake.stash
